.vs/
*.user
Debug/
Release/
*.obj
*.pdb
*.ipch
*.tlog
*.log
*.dll
*.lib
*.exp

/distribution/x64/regHitomoji.exe
/distribution/x86/regHitomoji.exe
/Hitomoji/icon-off.png
/Hitomoji/icon-on.png
/Hitomoji/resource.aps
/distribution/.Usage.md.swp
/archives
