.vs/
*.user
Debug/
Release/
*.obj
*.pdb
*.ipch
*.tlog
*.log
*.dll
*.exe
*.lib
*.exp
*.old
*.swp
/Hitomoji/icon-off.png
/Hitomoji/icon-on.png
/Hitomoji/resource.aps
/archives
/dbg_distribution/*
/packages/Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn.1.8.1.8
/packages
/SQLite
/distribution/*.zip
